<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconii</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        /* Style de la boîte de résultat */
        #scanResultBox {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 20px;
            clear: both; /* Pour afficher en dessous du reste du contenu */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="search-box">
            <input type="text" placeholder="Entrez le domaine ici" id="domainInput">
            <button id="scanBtn">Lancer le Scan</button>
        </div>
        <div class="history">
            <h2>Historique des Scans</h2>
            <div id="res"></div>
        </div>

        <!-- Boîte de résultat -->
        <div id="scanResultBox" style="display: none;"></div>
    </div>

    <script>
        document.getElementById('scanBtn').addEventListener('click', function() {
            var domain = document.getElementById('domainInput').value;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/scan', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var scanResultBox = document.getElementById('scanResultBox');
                    scanResultBox.style.display = 'block'; // Affiche la boîte de résultat
                    scanResultBox.innerText = "Le scan a été lancé !"; // Affiche la réponse dans la boîte de résultat
                } else {
                    var scanResultBox = document.getElementById('scanResultBox');
                    scanResultBox.style.display = 'block'; // Affiche la boîte de résultat
                    scanResultBox.innerText = "Le scan n'a pas pu être lancé.."; // Affiche la réponse dans la boîte de résultat
                }
            };
            xhr.send('domain=' + encodeURIComponent(domain));
        });

        window.addEventListener("DOMContentLoaded", async function() {
            var finish_template = `
            <div class="scan-result">
                <strong>Domaine :</strong> [DOMAIN_PLACEHOLDER] <br>
                <strong>Statut :</strong> Fini ! ✅
                <br>
                <button class="result-btn" onclick="get_res('[DOMAIN_PLACEHOLDER]')">Accéder au résultat</button>
            </div>
            `;
            var notyet_template = `
            <div class="scan-result">
                <strong>Domaine :</strong> [DOMAIN_PLACEHOLDER] <br>
                <strong>Statut :</strong> En cours.. <br>
            </div>
            `;
            var to_append = ""
            var res = await fetch('/getscan');
            var data = await res.json();
            if(data.length == 0){
                to_append = "<p>Aucun résultat n'est disponible.</p>"
            } else {
                for(var i=0; i<data.length; i++)
                {
                    if(data[i].status == "1") {
                        to_append += finish_template.replaceAll("[DOMAIN_PLACEHOLDER]", data[i].domain)
                    } else {
                        to_append += notyet_template.replace("[DOMAIN_PLACEHOLDER]", data[i].domain)
                    }
                }
            }
            document.getElementById("res").innerHTML = to_append;
        })

        function get_res(domain) {
            document.location.href = "/download?domain="+domain;
        }
    </script>
</body>
</html>
